<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>

<body>
  <h1>Create a new account</h1>
  <form action="/auth/sign-up" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" />

    <label for="password">Password:</label>
    <input type="text" id="password" name="password" />

    <label for="confirmPassword">Confirm Password:</label>
    <input type="text" id="confirmPassword" name="confirmPassword" />

    <button type="submit">Sign Up</button>
  </form>
</body>

</html>